* {
    margin: 0;
    padding: 0;
}
.header,
.main-levi,
.main-desni,
.futer {
    background-color: #9370db;
}
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.header1 {
    display: flex;
    flex-direction: row;
}
.header2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 15%;
}
.header2-1 {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-self: flex-end;
}
.header2-2 {
    display: flex;
    height: 100%;
    align-self: flex-end;
}
.logo {
    height: 100%;
    width: 100px;
}
.logo img {
    height: 100%;
    width: 100%;
}
.naslov {
    width: 300px;
    align-self: flex-end;
}
.header a {
    text-decoration: none;
    color: black;
}
.navigacija {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}
.navigacija ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navigacija li {
    padding: 5px;
    font-size: 25px;
    list-style-type: none;
    display: inline-flex;
    margin-right: 25px;
    width: 120px;
    justify-content: space-evenly;
}
.navigacija a {
    text-decoration: none;
    color: black;
}

.navigacija li:hover {
    background-color: #7c5db9;
}
.LoginSlika {
    width: 50px;
    height: 50px;
}
.RegistracijaSlika {
    width: 50px;
    height: 50px;
}
.LoginSlika img {
    width: 100%;
    height: 100%;
}
.RegistracijaSlika img {
    width: 100%;
    height: 100%;
}
.izlogujse {
    position: relative;
    right: 15%;
    height: 50px;
    width: 200px;
    display: flex;
}

.izlogujse button {
    border: none;
    width: 30px;
    background-color: transparent;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.izlogujse span {
    margin-top: 15px;
}
.izlogujse img {
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 1000px;
}
.main-srednji {
    width: 100%;
    display: flex;
    height: 1000px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
}
.main-levi,
.main-desni {
    width: 10%;
    padding: 25px;
}
.main-levi button {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 15pt;
    background-color: #7c5db9;
    color: white;
    box-shadow: -15px 15px 10px #7c5db9;
    padding: 5px;
}
.futer {
    height: 5em;
}
.h1 {
    text-align: center;
}
.Kurs {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.Kurs1 h1 {
    margin: 10px;
}
.Kurs1 h3 {
    margin-bottom: 10px;
    margin-left: 10px;
}
.ImeProfesora {
    margin: 10px;
}
.OpisKursa {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 100px;
}
.PrilozeniMaterijal {
    margin-left: 10px;
}
.Dugmad {
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Dugmad button {
    margin: 20px;
    height: 50px;
    width: 200px;
    font-size: 24px;
}
.Dugmad button a {
    text-decoration: none;
    color: black;
}
.Izmeni {
    border: none;

    background-color: lightblue;
    border-radius: 15px;
}
.Izmeni:hover {
    background-color: rgb(126, 180, 198);
    border: 1px solid black;
}
.Izbrisi {
    background-color: rgb(126, 21, 21);
    border-radius: 15px;
    color: white;
    border: none;
}
.Izbrisi:hover {
    background-color: rgb(203, 47, 47);
    border: 1px solid black;
}
.Pokusaj {
    border: none;
    background-color: blueviolet;
    border-radius: 15px;
}
.Pokusaj:hover {
    background-color: #7c5db9;
    border: 1px solid black;
}
