*{
    margin:0;
    padding:0;
}
.header,.main-levi,.main-desni,.futer{
    background-color:#9370DB;
}
.header{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.header1{
    display: flex;
    flex-direction: row;
}
.header2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 15%;
}
.header2-1{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-self: flex-end;
}
.header2-2{
    display: flex;
    height: 100%;
    align-self: flex-end;
}
.logo{
    height: 100%;
    width: 100px;
}
.logo img{
    height: 100%;
    width: 100%;
}
.naslov{
    width: 300px;
    align-self: flex-end;
}
.header a{
    text-decoration: none;
    color:black;
}
.navigacija{  
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}
.navigacija ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navigacija li{
    padding: 5px;
    font-size: 25px;
    list-style-type: none;
    display: inline-flex;
    margin-right: 25px;
    width: 120px;
    justify-content: space-evenly;
}
.navigacija a{
    text-decoration: none;
    color:black;
}
.navigacija li:hover{
    background-color: #7c5db9 ;
}
.LoginSlika{
    width: 50px;
    height: 50px;
}
.RegistracijaSlika{
    width: 50px;
    height: 50px;
}
.LoginSlika img{
    width: 100%;
    height: 100%;
}
.RegistracijaSlika img{
    width: 100%;
    height: 100%;
}
.izlogujse{
    position: relative;
    right: 15%;
    height: 50px;
    width: 200px;
    display: flex;
}

.izlogujse button{
    border: none;
    width: 30px;
    background-color: transparent;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.izlogujse span{
    margin-top: 15px;
}
.izlogujse img{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 1000px;
}
.main-srednji{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    overflow-y: scroll;
}
.n1{
    align-self:center;
}
.main-levi,.main-desni{
    width: 10%;
    padding:25px;
}
.main-levi button{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 15pt;
    background-color:#9370DB;
    border:none;
    box-shadow: -15px 15px 10px  #7c5db9;
    color:white;
    padding:5px;
}
.main-levi button:hover{
    background-color: #7c5db9;
    border: 1px soldi black;
}
.futer{
    height: 5em;
}
.Profil{
    margin-top: 30px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    border:1px solid #7c5db9;
    overflow: hidden;
    border-radius:15px ;
}
.Slika{
    justify-content: center;
    padding:10px;
    padding-top: 20px;
    width: 25%;
    height: 90%;
}
.Slika img{
    height: 90%;
    width: 100%;
    border-radius: 15px;
}
.Podaci{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: space-evenly;
}
.Podaci div{
    text-align: left;
    font-size: 15pt;
    padding-left: 15px;
}
.MojiP{
    padding-top:20px ;
    border: 1px solid #7c5db9;
    width:90%;
    height:250px;
    margin-top: 20px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
}
.TabelaMP{
    width: 90%;
    align-self: center;
    margin-bottom: 15px;
}
.TabelaMP table{
    margin-top: 20px;
    border-collapse: collapse;
}
.TabelaMP table td,tr,th{
    width: 180px;
    text-align: center;
    border: 1px solid black;
    height: 50px;
}

.MojiK{
    padding-top:20px ;
    border: 1px solid #7c5db9;
    width:90%;
    height:200px;
    margin-top: 20px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.TabelaMK{   
    margin-top: 20px;
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}
.T{
    border-collapse: collapse;
}
.PolaganjaPoStudentu{
    padding-top:20px ;
    border: 1px solid #7c5db9;
    width:90%;
    height:200px;
    margin-top: 20px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.TabelaPP{
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 15px;
}
.TabelaPP td,th,tr{
    border:1px solid black;
}